In [16]:
import pandas as pd
import numpy as np

In [17]:
path="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

In [45]:
df=pd.read_csv(path)

In [46]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

In [47]:
df.shape

(11552, 85)

**Finding duplicates**

Find the duplicate rows in two ways
Step1

In [94]:
duplicate_rows = df[df.duplicated()]

In [95]:
# Display Duplicate Rows
print("Duplicate Rows:",duplicate_rows)

Duplicate Rows:       Respondent                                         MainBranch Hobbyist  \
1168        2339                     I am a developer by profession      Yes
1169        2342                     I am a developer by profession      Yes
1170        2343                     I am a developer by profession      Yes
1171        2344                     I am a developer by profession      Yes
1172        2347                     I am a developer by profession      Yes
...          ...                                                ...      ...
2297        4674  I am not primarily a developer, but I write co...      Yes
2298        4675                     I am a developer by profession      Yes
2299        4676                     I am a developer by profession      Yes
2300        4677                     I am a developer by profession      Yes
2301        4679                     I am a developer by profession      Yes

                                            OpenSourcer  \
1168                         Once a month or more often
1169                                              Never
1170  Less than once a month but more than once per ...
1171                                              Never
1172                                              Never
...                                                 ...
2297                            Less than once per year
2298                                              Never
2299                                              Never
2300                         Once a month or more often
2301  Less than once a month but more than once per ...

                                             OpenSource          Employment  \
1168  OSS is, on average, of HIGHER quality than pro...  Employed full-time
1169  The quality of OSS and closed source software ...  Employed full-time
1170  OSS is, on average, of LOWER quality than prop...  Employed full-time
1171  The quality of OSS and closed source software ...  Employed full-time
1172  OSS is, on average, of HIGHER quality than pro...  Employed full-time
...                                                 ...                 ...
2297  The quality of OSS and closed source software ...  Employed full-time
2298  OSS is, on average, of HIGHER quality than pro...  Employed full-time
2299  OSS is, on average, of HIGHER quality than pro...  Employed full-time
2300  OSS is, on average, of HIGHER quality than pro...  Employed full-time
2301  The quality of OSS and closed source software ...  Employed full-time

             Country Student  \
1168   United States      No
1169  United Kingdom      No
1170          Canada      No
1171   United States      No
1172  United Kingdom      No
...              ...     ...
2297      Bangladesh      No
2298   United States      No
2299         Finland      No
2300  United Kingdom      No
2301   United States      No

                                                EdLevel  \
1168  Some college/university study without earning ...
1169  Some college/university study without earning ...
1170        Master’s degree (MA, MS, M.Eng., MBA, etc.)
1171           Bachelor’s degree (BA, BS, B.Eng., etc.)
1172        Master’s degree (MA, MS, M.Eng., MBA, etc.)
...                                                 ...
2297           Bachelor’s degree (BA, BS, B.Eng., etc.)
2298           Bachelor’s degree (BA, BS, B.Eng., etc.)
2299        Master’s degree (MA, MS, M.Eng., MBA, etc.)
2300           Bachelor’s degree (BA, BS, B.Eng., etc.)
2301        Master’s degree (MA, MS, M.Eng., MBA, etc.)

                                         UndergradMajor  ...  \
1168  Computer science, computer engineering, or sof...  ...
1169  Information systems, information technology, o...  ...
1170  Computer science, computer engineering, or sof...  ...
1171  Computer science, computer engineering, or sof...  ...
1172  Computer science, computer engineering, or sof...  ...
...                                                 ...  ...
2297                                                NaN  ...
2298  Information systems, information technology, o...  ...
2299  Another engineering discipline (ex. civil, ele...  ...
2300  A natural science (ex. biology, chemistry, phy...  ...
2301  Computer science, computer engineering, or sof...  ...

                                 WelcomeChange  \
1168   Just as welcome now as I felt last year
1169  Somewhat more welcome now than last year
1170  Somewhat more welcome now than last year
1171   Just as welcome now as I felt last year
1172   Just as welcome now as I felt last year
...                                        ...
2297  Somewhat less welcome now than last year
2298   Just as welcome now as I felt last year
2299  Somewhat less welcome now than last year
2300   Just as welcome now as I felt last year
2301   Just as welcome now as I felt last year

                                           SONewContent   Age Gender Trans  \
1168                                                NaN  24.0    Man    No
1169  Tech meetups or events in your area;Courses on...  24.0    Man    No
1170  Tech articles written by other developers;Indu...  27.0    Man    No
1171  Tech articles written by other developers;Indu...  24.0    Man    No
1172                                                NaN   NaN  Woman    No
...                                                 ...   ...    ...   ...
2297  Tech articles written by other developers;Indu...  31.0    Man    No
2298                Tech meetups or events in your area  27.0    Man    No
2299                                                NaN  36.0    Man    No
2300                                                NaN  40.0    Man    No
2301                                                NaN  27.0    Man    No

                                            Sexuality  \
1168                          Straight / Heterosexual
1169                          Straight / Heterosexual
1170                          Straight / Heterosexual
1171                          Straight / Heterosexual
1172                          Straight / Heterosexual
...                                               ...
2297  Bisexual;Gay or Lesbian;Straight / Heterosexual
2298                          Straight / Heterosexual
2299                          Straight / Heterosexual
2300                          Straight / Heterosexual
2301                                              NaN

                                              Ethnicity Dependents  \
1168                       White or of European descent         No
1169                       White or of European descent         No
1170  Black or of African descent;White or of Europe...         No
1171                       White or of European descent         No
1172                                           Biracial         No
...                                                 ...        ...
2297  Black or of African descent;Hispanic or Latino...        Yes
2298                       White or of European descent         No
2299                       White or of European descent        Yes
2300                       White or of European descent        Yes
2301                       White or of European descent         No

               SurveyLength                  SurveyEase
1168  Appropriate in length                        Easy
1169               Too long                        Easy
1170  Appropriate in length  Neither easy nor difficult
1171  Appropriate in length                        Easy
1172               Too long                        Easy
...                     ...                         ...
2297               Too long  Neither easy nor difficult
2298  Appropriate in length                        Easy
2299               Too long                        Easy
2300  Appropriate in length                        Easy
2301  Appropriate in length                        Easy

[154 rows x 85 columns]

Step2

In [96]:
num_duplicate_row=df.duplicated().sum()
print("print number of duplicate:", num_duplicate_row)

print number of duplicate: 154

In [24]:
#find duplicated columns
duplicate_columns = df.columns[df.columns.duplicated()]

In [91]:
#display number of columns duplicate
num_duplicate_columns = len(duplicate_columns)
print("Number of duplicate columns:", num_duplicate_columns)
#print("Duplicate Columns:", duplicate_columns.tolist())

Number of duplicate columns: 0

**Removing duplicates**

In [108]:
#using drop function
df_no_duplicates = df.drop_duplicates()

In [111]:
df_no_duplicates.to_csv('cleaned_dataset.csv', index=False)
df_no_duplicates.shape

(11398, 85)

In [89]:
df.shape

(11552, 85)

In [99]:
print('There are now', df.duplicated().sum(), 'duplicate rows.')
print('There are', df.duplicated('Respondent').sum(), 'duplicate Respondants.')

There are now 154 duplicate rows.
There are 154 duplicate Respondants.

Verify duplicate were actually dropped

In [40]:
df.shape

(11552, 85)

**Finding missing values**

In [100]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df.isnull().sum())

Respondent                   0
MainBranch                   0
Hobbyist                     0
OpenSourcer                  0
OpenSource                  81
Employment                   0
Country                      0
Student                     53
EdLevel                    116
UndergradMajor             740
EduOther                   164
OrgSize                     98
DevType                     67
YearsCode                    9
Age1stCode                  13
YearsCodePro                16
CareerSat                    0
JobSat                       1
MgrIdiot                   498
MgrMoney                   502
MgrWant                    498
JobSeek                      0
LastHireDate                 0
LastInt                    423
FizzBuzz                    37
JobFactors                   3
ResumeUpdate                41
CurrencySymbol               0
CurrencyDesc                 0
CompTotal                  815
CompFreq                   206
ConvertedComp              822
WorkWeekHrs                125
WorkPlan                   123
WorkChallenge              168
WorkRemote                   8
WorkLoc                     32
ImpSyn                       5
CodeRev                      1
CodeRevHrs                2469
UnitTests                   29
PurchaseHow                198
PurchaseWhat                38
LanguageWorkedWith          11
LanguageDesireNextYear     137
DatabaseWorkedWith         456
DatabaseDesireNextYear    1055
PlatformWorkedWith         422
PlatformDesireNextYear     561
WebFrameWorkedWith        1413
WebFrameDesireNextYear    1634
MiscTechWorkedWith        2209
MiscTechDesireNextYear    1474
DevEnviron                  29
OpSys                       34
Containers                  82
BlockchainOrg             2354
BlockchainIs              2637
BetterLife                 100
ITperson                    35
OffOn                       38
SocialMedia                301
Extraversion                20
ScreenName                 513
SOVisit1st                 325
SOVisitFreq                  5
SOVisitTo                    1
SOFindAnswer                 3
SOTimeSaved                 51
SOHowMuchTime             1936
SOAccount                    1
SOPartFreq                1148
SOJobs                       6
EntTeams                     5
SOComm                       0
WelcomeChange               89
SONewContent              1995
Age                        297
Gender                      75
Trans                      123
Sexuality                  547
Ethnicity                  683
Dependents                 144
SurveyLength                19
SurveyEase                  14
dtype: int64

In [ ]:
column_to_check = 'EdLevel'  # Replace 'column_name' with the name of the column you want to check

# Step 4: Check for Blank Rows for the Specified Column
blank_rows_for_column = df[df[column_to_check].isnull()]

# Step 5: Display Blank Rows for the Specified Column
print("Blank Rows for column '{}':".format(column_to_check))
print(blank_rows_for_column)

In [ ]:
# missing_data=df.isnull()
# missing_data.head()

In [ ]:
# missing_country=df["Country"].isnull()
# missing_country

In [ ]:
# missing_country_col=df["Country"].notnull()
# missing_country_col

In [ ]:
# missing_row=df.notnull()
# missing_row.head()

In [101]:

print("There are", df['WorkLoc'].isnull().sum(), "missing values in the column 'WorkLoc'")
print("There are", df['EdLevel'].isnull().sum(), "missing values in the column 'EdLevel'")
print("There are", df['Country'].isnull().sum(), "missing values in the column 'Country'")

There are 32 missing values in the column 'WorkLoc'
There are 116 missing values in the column 'EdLevel'
There are 0 missing values in the column 'Country'

**Impute missing values:** find the value counts for the column workloc

In [112]:
print('There are', df['WorkLoc'].nunique(), 'unique Work Locations in the survey:')
print(df['WorkLoc'].value_counts())
print("\n",df["Employment"].nunique(), "unique employe")
print(df["Employment"].value_counts)
print("\n",df["UndergradMajor"].nunique(),"unique undergradMajor")
print("\n",df["UndergradMajor"].value_counts())

There are 3 unique Work Locations in the survey:
Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64

 2 unique employe
<bound method IndexOpsMixin.value_counts of 0        Employed full-time
1        Employed full-time
2        Employed full-time
3        Employed full-time
4        Employed full-time
                ...
11547    Employed full-time
11548    Employed full-time
11549    Employed full-time
11550    Employed full-time
11551    Employed full-time
Name: Employment, Length: 11552, dtype: object>

 12 unique undergradMajor

 Computer science, computer engineering, or software engineering          7053
Information systems, information technology, or system administration     806
Another engineering discipline (ex. civil, electrical, mechanical)        769
Web development or web design                                             417
A natural science (ex. biology, chemistry, physics)                       409
Mathematics or statistics                                                 375
A business discipline (ex. accounting, finance, marketing)                247
A social science (ex. anthropology, psychology, political science)        212
A humanities discipline (ex. literature, history, philosophy)             209
Fine arts or performing arts (ex. graphic design, music, studio art)      165
I never declared a major                                                  126
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

In [113]:
#make a note of the majority value here, for future reference
# majority value is "Office" (6806)

print(df['ConvertedComp'].mean())
print(df['ConvertedComp'].median())

131334.0025163094
57744.0

Impute(replace) all the empty rows in the column WorkLoc with the value

In [114]:
# your code goes here
import numpy as np

workloc_highest = 'Office'

missing_data = df.isnull()
#print(missing_data.head(5))

print('\nValue counts for missing data in WorkLoc:\n')
print( missing_data['WorkLoc'].value_counts())


print('\nHere are the first 10 rows missing values for WorkLoc:')
print(df[missing_data['WorkLoc']][['Respondent','WorkLoc']].head(10))

df['WorkLoc'].replace(np.nan, workloc_highest, inplace=True)

Value counts for missing data in WorkLoc:

False    11520
True        32
Name: WorkLoc, dtype: int64

Here are the first 10 rows missing values for WorkLoc:
      Respondent WorkLoc
130          285     NaN
242          550     NaN
866         1847     NaN
1455        2826     NaN
1753        3536     NaN
2339        4768     NaN
2689        5562     NaN
2788        5769     NaN
3165        6613     NaN
3213        6721     NaN

Verify imputing was succesful

In [115]:
print('\nNew value counts for missing data in WorkLoc:\n')
print(missing_data['WorkLoc'].value_counts())
# No 'True' values means that we have eliminated all empty WorkLoc values.

New value counts for missing data in WorkLoc:

False    11520
True        32
Name: WorkLoc, dtype: int64

**Normalizing data** there two columns for compensation one is "CompFreq" and another is "CompTotal" that talk about developer paid (Yearly, Monthly,Weekly), its difficult to compare so becouse of this make another column called "NormalizedAnnualCompensation"

In [30]:
# List out the vaious categories in the column "CompFreq"
df["CompFreq"].value_counts()

Yearly     6163
Monthly    4846
Weekly      337
Name: CompFreq, dtype: int64

Created new column"NormalizedAnnualCompensation"

In [117]:
df.loc[df['CompFreq'] == 'Yearly', 'NormalizedAnnualCompensation']  = 1  * df['CompTotal']
df.loc[df['CompFreq'] == 'Monthly', 'NormalizedAnnualCompensation'] = 12 * df['CompTotal']
df.loc[df['CompFreq'] == 'Weekly', 'NormalizedAnnualCompensation']  = 52 * df['CompTotal']

df[['CompTotal','CompFreq','NormalizedAnnualCompensation']].head(20)
df['NormalizedAnnualCompensation'].median()

100000.0